extends ../layout

block content
  h1 Edit Skill
  form(method="POST", action=`/admin/skills/edit/${skill._id}`)
    label Name:
    input(type="text", name="name", value=skill.name, required)
    br
    label Category:
    input(type="text", name="category", value=skill.category, required)
    br
    label Proficiency:
    input(type="text", name="proficiency", value=skill.proficiency, required)
    br
    button(type="submit") Update Skill
  a(href="/admin/skills") Back to Skills
