extends ../layout

block content
  h1 Projects
  a(href="/admin/projects/add") Add New Project
  ul
    each project in projects
      li
        strong #{project.title}
        |  - 
        a(href=`/admin/projects/edit/${project._id}`) Edit
        |  |  
        a(href=`/admin/projects/delete/${project._id}`) Delete
  a(href="/admin") Back to Dashboard
